In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pathlib import Path
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [8]:
# Đường dẫn đến thư mục chứa data
data_path = Path(r'c:\Users\Tplab\OneDrive\CNN tutorial\data\raw')

# Lấy danh sách tất cả file CSV
csv_files = sorted(list(data_path.glob('*.csv')))
print(f"Tổng số file CSV: {len(csv_files)}")
print(f"\nDanh sách 5 file đầu tiên:")
for f in csv_files[:5]:
    print(f"  - {f.name}")

Tổng số file CSV: 75

Danh sách 5 file đầu tiên:
  - UNSW_2018_IoT_Botnet_Dataset_1.csv
  - UNSW_2018_IoT_Botnet_Dataset_10.csv
  - UNSW_2018_IoT_Botnet_Dataset_11.csv
  - UNSW_2018_IoT_Botnet_Dataset_12.csv
  - UNSW_2018_IoT_Botnet_Dataset_13.csv

## 1. Đọc file đầu tiên để xem cấu trúc

In [14]:
# Đọc file đầu tiên (không có header)
# Dựa vào documentation của UNSW Bot-IoT dataset
column_names = [
    'pkSeqID', 'stime', 'flgs', 'proto', 'saddr', 'sport', 'daddr', 'dport',
    'pkts', 'bytes', 'state', 'ltime', 'seq', 'dur', 'mean', 'stddev',
    'smac', 'dmac', 'sum', 'min', 'max', 'soui', 'doui', 'sco', 'dco',
    'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate',
    'attack', 'category', 'subcategory'
]

df_sample = pd.read_csv(csv_files[0], header=None, names=column_names, low_memory=False)

print(f"Shape: {df_sample.shape}")
print(f"\nColumns ({len(df_sample.columns)}):")
print(df_sample.columns.tolist())

Shape: (1000000, 35)

Columns (35):
['pkSeqID', 'stime', 'flgs', 'proto', 'saddr', 'sport', 'daddr', 'dport', 'pkts', 'bytes', 'state', 'ltime', 'seq', 'dur', 'mean', 'stddev', 'smac', 'dmac', 'sum', 'min', 'max', 'soui', 'doui', 'sco', 'dco', 'spkts', 'dpkts', 'sbytes', 'dbytes', 'rate', 'srate', 'drate', 'attack', 'category', 'subcategory']

In [15]:
# Xem 5 dòng đầu
df_sample.head()

,pkSeqID,stime,flgs,proto,saddr,sport,daddr,dport,pkts,bytes,state,ltime,seq,dur,mean,stddev,smac,dmac,sum,min,max,soui,doui,sco,dco,spkts,dpkts,sbytes,dbytes,rate,srate,drate,attack,category,subcategory
0,1,1.526344e+09,e,arp,192.168.100.1,NaN,192.168.100.3,NaN,4,240,CON,1.526345e+09,9,1195.996582,0.000006,0.000002,NaN,NaN,0.000011,0.000004,0.000007,NaN,NaN,NaN,NaN,2,2,120,120,0.002508,0.000836,0.000836,0,Normal,Normal
1,2,1.526344e+09,e,tcp,192.168.100.7,139,192.168.100.4,36390,10,680,CON,1.526346e+09,10,1453.945923,0.000028,0.000008,NaN,NaN,0.000138,0.000022,0.000042,NaN,NaN,NaN,NaN,5,5,350,330,0.006190,0.002751,0.002751,0,Normal,Normal
2,3,1.526344e+09,e,udp,192.168.100.149,51838,27.124.125.250,123,2,180,CON,1.526344e+09,11,0.048565,0.048565,0.000000,NaN,NaN,0.048565,0.048565,0.048565,NaN,NaN,NaN,NaN,1,1,90,90,20.590960,0.000000,0.000000,0,Normal,Normal
3,4,1.526344e+09,e,arp,192.168.100.4,NaN,192.168.100.7,NaN,10,510,CON,1.526346e+09,12,1454.080322,0.000238,0.000022,NaN,NaN,0.001189,0.000199,0.000261,NaN,NaN,NaN,NaN,5,5,210,300,0.006189,0.002751,0.002751,0,Normal,Normal
4,5,1.526344e+09,e,udp,192.168.100.27,58999,192.168.100.1,53,4,630,CON,1.526345e+09,14,569.933960,0.098505,0.080150,NaN,NaN,0.197011,0.018356,0.178655,NaN,NaN,NaN,NaN,2,2,174,456,0.005264,0.001755,0.001755,0,Normal,Normal

In [11]:
# Đọc 10 dòng đầu tiên để xem cấu trúc
with open(csv_files[0], 'r') as f:
    for i in range(10):
        print(f"Line {i+1}: {f.readline().strip()}")

Line 1: 1,1526344121.188091,"e","arp","192.168.100.1","","192.168.100.3","",4,240,"CON",1526345317.184693,9,1195.996582,0.000006,0.000002,"","",0.000011,0.000004,0.000007,"","","","",2,2,120,120,0.002508,0.000836,0.000836,0,"Normal","Normal"
Line 2: 2,1526344223.197482,"e","tcp","192.168.100.7","139","192.168.100.4","36390",10,680,"CON",1526345677.143407,10,1453.945923,0.000028,0.000008,"","",0.000138,0.000022,0.000042,"","","","",5,5,350,330,0.00619,0.002751,0.002751,0,"Normal","Normal"
Line 3: 3,1526344227.029374,"e","udp","192.168.100.149","51838","27.124.125.250","123",2,180,"CON",1526344227.077939,11,0.048565,0.048565,0,"","",0.048565,0.048565,0.048565,"","","","",1,1,90,90,20.59096,0,0,0,"Normal","Normal"
Line 4: 4,1526344228.312317,"e","arp","192.168.100.4","","192.168.100.7","",10,510,"CON",1526345682.392620,12,1454.080322,0.000238,0.000022,"","",0.001189,0.000199,0.000261,"","","","",5,5,210,300,0.006189,0.002751,0.002751,0,"Normal","Normal"
Line 5: 5,1526344302.636337,"e","udp","192.168.100.27","58999","192.168.100.1","53",4,630,"CON",1526344872.570281,14,569.933960,0.098505,0.08015,"","",0.197011,0.018356,0.178655,"","","","",2,2,174,456,0.005264,0.001755,0.001755,0,"Normal","Normal"
Line 6: 6,1526344302.814595,"e","arp","192.168.100.1","","192.168.100.27","",2,120,"CON",1526344302.814962,15,0.000367,0.000367,0,"","",0.000367,0.000367,0.000367,"","","","",1,1,60,60,2724.795654,0,0,0,"Normal","Normal"
Line 7: 7,1526344307.702431,"e","arp","192.168.100.27","","192.168.100.1","",4,240,"CON",1526344877.558365,16,569.855957,0.000122,0.000025,"","",0.000243,0.000097,0.000146,"","","","",2,2,120,120,0.005264,0.001755,0.001755,0,"Normal","Normal"
Line 8: 8,1526344326.433386,"e","udp","192.168.100.150","58360","192.168.217.2","53",2,172,"INT",1526344328.933487,18,2.500101,0,0,"","",0,0,0,"","","","",2,0,172,0,0.399984,0.399984,0,0,"Normal","Normal"
Line 9: 9,1526344328.399242,"e","udp","192.168.100.149","37214","192.168.217.2","53",2,172,"INT",1526344330.900343,41,2.501101,0,0,"","",0,0,0,"","","","",2,0,172,0,0.399824,0.399824,0,0,"Normal","Normal"
Line 10: 10,1526344331.592123,"e","arp","192.168.100.150","","192.168.100.1","",6,360,"CON",1526345483.848775,65,1152.256592,0.000091,0.000014,"","",0.000273,0.000075,0.000109,"","","","",3,3,180,180,0.004339,0.001736,0.001736,0,"Normal","Normal"

In [16]:
# Info về data types và missing values
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 35 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   pkSeqID      1000000 non-null  int64
 1   stime        1000000 non-null  float64
 2   flgs         1000000 non-null  object
 3   proto        1000000 non-null  object
 4   saddr        1000000 non-null  object
 5   sport        999513 non-null   object
 6   daddr        1000000 non-null  object
 7   dport        999513 non-null   object
 8   pkts         1000000 non-null  int64
 9   bytes        1000000 non-null  int64
 10  state        1000000 non-null  object
 11  ltime        1000000 non-null  float64
 12  seq          1000000 non-null  int64
 13  dur          1000000 non-null  float64
 14  mean         1000000 non-null  float64
 15  stddev       1000000 non-null  float64
 16  smac         0 non-null        float64
 17  dmac         0 non-null        float64
 18  sum          1000000 non-null  float64
 19  min          1000000 non-null  float64
 20  max          1000000 non-null  float64
 21  soui         0 non-null        float64
 22  doui         0 non-null        float64
 23  sco          0 non-null        float64
 24  dco          0 non-null        float64
 25  spkts        1000000 non-null  int64
 26  dpkts        1000000 non-null  int64
 27  sbytes       1000000 non-null  int64
 28  dbytes       1000000 non-null  int64
 29  rate         1000000 non-null  float64
 30  srate        1000000 non-null  float64
 31  drate        1000000 non-null  float64
 32  attack       1000000 non-null  int64
 33  category     1000000 non-null  object
 34  subcategory  1000000 non-null  object
dtypes: float64(17), int64(9), object(9)
memory usage: 267.0+ MB

In [13]:
# Thống kê mô tả
df_sample.describe()

,1,1526344121.188091,4,240,1526345317.184693,9,1195.996582,0.000006,0.000002,Unnamed: 16,Unnamed: 17,0.000011,0.000004,0.000007,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,2,2.1,120,120.1,0.002508,0.000836,0.000836.1,0
count,999999.000000,9.999990e+05,999999.000000,9.999990e+05,9.999990e+05,999999.000000,999999.000000,999999.000000,999999.000000,0.0,0.0,999999.000000,999999.000000,999999.000000,0.0,0.0,0.0,0.0,999999.000000,999999.000000,9.999990e+05,9.999990e+05,9.999990e+05,999999.000000,999999.000000,999999.000000
mean,500001.000000,1.526826e+09,8.025129,5.156976e+03,1.526826e+09,98125.445121,1.904934,0.035261,0.003090,NaN,NaN,0.313766,0.031952,0.038380,NaN,NaN,NaN,NaN,5.393687,2.631442,3.539550e+03,1.617426e+03,6.539694e+03,232.299948,214.119468,0.998008
std,288674.990255,1.940611e+05,494.351004,4.781053e+05,1.940577e+05,85446.170835,41.975285,0.203744,0.076291,NaN,NaN,19.749911,0.185281,0.243284,NaN,NaN,NaN,NaN,331.263787,212.018296,3.054853e+05,2.120605e+05,3.353804e+04,2971.116545,2145.512436,0.044587
min,2.000000,1.526344e+09,1.000000,6.000000e+01,1.526344e+09,1.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,250001.500000,1.526881e+09,2.000000,1.200000e+02,1.526881e+09,15573.000000,0.000207,0.000200,0.000000,NaN,NaN,0.000201,0.000195,0.000200,NaN,NaN,NaN,NaN,1.000000,1.000000,6.000000e+01,6.000000e+01,2.475186e+01,0.000000,0.000000,1.000000
50%,500001.000000,1.526899e+09,2.000000,1.200000e+02,1.526899e+09,81392.000000,0.012066,0.011737,0.000000,NaN,NaN,0.011767,0.011532,0.011764,NaN,NaN,NaN,NaN,1.000000,1.000000,6.000000e+01,6.000000e+01,5.368839e+01,0.000000,0.000000,1.000000
75%,750000.500000,1.526899e+09,2.000000,1.200000e+02,1.526899e+09,164726.000000,0.035779,0.035538,0.000000,NaN,NaN,0.035550,0.035352,0.035548,NaN,NaN,NaN,NaN,1.000000,1.000000,6.000000e+01,6.000000e+01,1.508296e+03,0.000000,0.000000,1.000000
max,1000000.000000,1.526949e+09,72700.000000,7.351081e+07,1.526950e+09,283299.000000,1940.859253,4.968881,2.499505,NaN,NaN,1913.193604,4.953428,4.999999,NaN,NaN,NaN,NaN,38081.000000,36350.000000,3.774702e+07,3.695876e+07,1.250000e+06,1000000.000000,500000.000000,1.000000

## 2. Kiểm tra target label (nếu có)

In [17]:
# Tìm cột có thể là label (thường là 'label', 'attack', 'category', etc.)
potential_labels = [col for col in df_sample.columns if any(keyword in col.lower() 
                    for keyword in ['label', 'attack', 'category', 'class', 'type'])]

print("Các cột có thể là label:")
print(potential_labels)

if potential_labels:
    for col in potential_labels:
        print(f"\n{col}:")
        print(df_sample[col].value_counts())

Các cột có thể là label:
['attack', 'category', 'subcategory']

attack:
attack
1    998007
0      1993
Name: count, dtype: int64

category:
category
Reconnaissance    998007
Normal              1993
Name: count, dtype: int64

subcategory:
subcategory
Service_Scan    998007
Normal            1993
Name: count, dtype: int64

## 3. Kiểm tra missing values

In [18]:
# Missing values
missing = df_sample.isnull().sum()
missing_percent = (missing / len(df_sample)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing,
    'Percentage': missing_percent
})
missing_df = missing_df[missing_df['Missing Count'] > 0].sort_values('Missing Count', ascending=False)

print("Các cột có missing values:")
print(missing_df)

Các cột có missing values:
       Missing Count  Percentage
smac         1000000    100.0000
dmac         1000000    100.0000
soui         1000000    100.0000
doui         1000000    100.0000
sco          1000000    100.0000
dco          1000000    100.0000
sport            487      0.0487
dport            487      0.0487

## 4. Kiểm tra xem tất cả files có cùng structure không

In [ ]:
# Kiểm tra 5 files đầu tiên
print("Kiểm tra columns của 5 files đầu tiên:\n")

first_cols = set(pd.read_csv(csv_files[0], nrows=0).columns)
all_same = True

for i, file in enumerate(csv_files[:5]):
    df_temp = pd.read_csv(file, nrows=0)
    cols = set(df_temp.columns)
    
    if cols == first_cols:
        print(f"✓ {file.name}: {len(cols)} columns - SAME")
    else:
        print(f"✗ {file.name}: {len(cols)} columns - DIFFERENT")
        all_same = False
        
print(f"\nTất cả files có cùng structure: {all_same}")

## 5. Ước tính tổng số rows khi merge tất cả files

In [ ]:
# Đếm rows của 10 files đầu để ước tính
total_rows_sample = 0
for file in csv_files[:10]:
    df_temp = pd.read_csv(file)
    total_rows_sample += len(df_temp)
    print(f"{file.name}: {len(df_temp):,} rows")

avg_rows = total_rows_sample / 10
estimated_total = avg_rows * len(csv_files)

print(f"\nTrung bình mỗi file: {avg_rows:,.0f} rows")
print(f"Ước tính tổng số rows khi merge {len(csv_files)} files: {estimated_total:,.0f} rows")